:root {
  --bible-reading-color: #fafafa;
  --bible-reading-background: #242424;
  --bible-reading-accent: #59f;
  --bible-reading-dark-accent: #46e;
  --bible-excerpt-hilight: rgba(200, 200, 200, 0.5);
  --bible-excerpt-hilight-accent: rgba(200, 225, 255, 0.5);
}

/* built-in system theme follow */